body {
  background-color: lightblue;
}

.container {
  background-color: white;
  border-radius: 10px;
  background-color: transparent;
  padding-bottom: 50px;
}
.jumbotron {
  text-align: center;
  background: linear-gradient(white, lightblue);
}

.jumbotron h1 {
  font-family: 'VT323', monospace;
  letter-spacing: 20px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.card {
  border: 2px solid black;
  height: 200px;
  background-image: url("../img/card.png");
  background-size: 360px 200px;
  margin-top: 10px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.card h2 {
  padding-top: 50px;
  color: white;
  letter-spacing: 3px;
  font-weight: lighter;
}

.card:hover {
  background-color: #d6bb98;
}

.description {
  display: none;
}

.description p {
  font-size: 1.2em;
  padding: 10px 10px 0 10px;
  color: black;
}

#footer {
  font-size: 2em;
  color: white;
  padding: 80px 0 0 60px;
}

.frontcard {
  background-image: none;
  background-color: #ffe1ba;
}

img {
  width: 358px;
  height: 200px;
  border-radius: 7px;
}
